* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Newsreader", serif;
}

body {
  font-family: "Newsreader", serif;
  color: #0e0e0e;
}

.container > img {
  width: 100%;
  display: block;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
  text-indent: -9999px;
}

.category,
.container-content a,
.container-content button,
.product-category,
.container-item strong,
.container-item button,
.container-item a,
.container-item li span,
.newsletter a {
  font-size: 9px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.container-content h2 {
  font-size: 24px;
}

.container-item h2 {
  font-size: 24px;
  font-style: italic;
  margin: 9px 0px 22px;
}

.container-content,
.conversation-input {
  text-align: center;
}

.container-content p,
.newsletter h2,
.conversation-input p {
  font-size: 24px;
  text-align: center;
}

.container-content a,
.container-content button,
.container-item button,
.container-item a,
.newsletter a {
  width: 280px;
  height: 50px;
  display: block;
  line-height: 50px;
  border: 1px solid black;
}

.add-icon {
  padding-left: 20px;
  text-align: start;
}

.add-icon::after {
  content: "";
  width: 22%;
  height: 100%;
  background-image: url("./assets/arrow-right-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  display: block;
  border-left: 1px solid black;
  float: right;
}

.container-item > img {
  display: block;
  margin: 0 auto;
}

.container-item {
  text-align: center;
}

li img {
  display: block;
  width: 87px;
  margin: 47px auto 27px;
}

.newsletter {
  text-align: center;
}
.newsletter span {
  font-size: 14px;
}

.newsletter img {
  display: block;
  width: 100%;
}

.newsletter a {
  border: none;
}

.conversation-input input {
  border: none;
  font-size: 22px;
  padding: 14px 0px;
}

.conversation-input form {
  border-bottom: 1px solid black;
}

.conversation-input button {
  border: 1px solid black;
  background-image: url("./assets/arrow-right-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  width: 36px;
  height: 36px;
}

.photo img {
  width: 50%;
  float: left;
}

.footer-item {
  text-align: center;
}

.footer-item a {
  display: block;
}

.container:first-child .container-content {
  padding: 0px 28px;
}

.container:first-child .container-content p {
  margin-bottom: 74px;
  margin-top: 47px;
}

.container:first-child .container-content a {
  margin: 0 auto 40px;
}

.container:nth-child(2) .container-content {
  padding: 0px 23px;
}

.container:nth-child(2) .container-content span {
  margin: 32px 0 22px;
  display: inline-block;
}

.container:nth-child(2) .container-content button {
  margin: 56px auto 26px;
}

.container:nth-child(3) .container-content span {
  display: inline-block;
  margin: 37px 0 27px;
}

.container:nth-child(3) .container-item img {
  margin: 36px auto;
}

.product-strong::before {
  content: "|";
  display: inline-block;
  margin-right: 4px;
}

.container:nth-child(3) .container-item button {
  margin: 30px auto 66px;
}

.container:nth-child(4) .container-content {
  padding: 0 31px;
}

.container:nth-child(4) .container-content span {
  display: inline-block;
  margin: 31px 0 22px;
}

.container:nth-child(4) .container-content a {
  margin: 52px auto 26px;
}

.container:nth-child(5) .container-content {
  padding: 0 32px;
}

.container:nth-child(5) .container-content span {
  margin: 66px auto 30px;
  display: inline-block;
}
