* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Newsreader", serif;
}

body {
  font-family: "Newsreader", serif;
  color: #0e0e0e;
}

.container,
.new,
.conversation-input,
.photo-slide {
  padding-bottom: 40px;
  padding-top: 40px;
}

.container > img {
  width: 100%;
  display: block;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
  text-indent: -9999px;
}

.category,
.container-content a,
.container-content button,
.product-category,
.container-item strong,
.container-item button,
.container-item a,
.container-item li span,
.newsletter a {
  font-size: 7px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
}

.container-content h2 {
  font-size: 24px;
}

.container-item h2 {
  font-size: 24px;
  font-style: italic;
  margin: 9px 0px 22px;
}

.container-content,
.conversation-input {
  text-align: center;
}

.container-content p,
.newsletter h2,
.conversation-input p {
  font-size: 21px;
  text-align: center;
  line-height: 1.2;
}

.container-content a,
.container-content button,
.container-item button,
.container-item a {
  width: 280px;
  height: 50px;
  display: block;
  line-height: 50px;
  border: 1px solid black;
}

.add-icon {
  padding-left: 20px;
  text-align: start;
}

.add-icon::after {
  content: "";
  width: 22%;
  height: 100%;
  background-image: url("./assets/arrow-right-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  display: block;
  border-left: 1px solid black;
  float: right;
}

.container-item > img {
  display: block;
  margin: 0 auto;
}

.container-item {
  text-align: center;
}

li img {
  display: block;
  width: 87px;
  margin: 47px auto 27px;
}

.newsletter {
  text-align: center;
  background-color: #f3ede8;
}
.newsletter span {
  font-size: 12px;
  margin-bottom: 24px;
  display: inline-block;
}

.newletter h2 {
  font-weight: 700;
}

.newsletter img {
  display: block;
  width: 100%;
}

.newsletter .container-content a {
  border: none;
  margin: 0 auto;
}

.newsletter .container-content a::after {
  content: "→";
  font-size: 22px;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.conversation-input input {
  border: none;
  font-size: 22px;
  padding-bottom: 17px;
  padding-top: 10px;
  outline: none;
}

.conversation-input form {
  border-bottom: 1px solid black;
  width: 320px;
  margin: 35px auto 0;
  display: flex;
}

.conversation-input button {
  border: 1px solid black;
  background-image: url("./assets/arrow-right-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  width: 42px;
  height: 42px;
}

.photo img {
  width: 50%;
}

.footer-item {
  text-align: center;
}

.footer-item a {
  display: block;
}

.container-content {
  padding: 35px 28px;
}

.container:first-child .container-content {
  background-color: #fbf7f6;
}

.container:first-child .container-content p {
  margin-top: 11px;
  margin-bottom: 52px;
}

.container:first-child .container-content a {
  margin: 0 auto;
}

.container:nth-child(2) .container-content {
  background-color: #f3ede8;
}

.container-content span,
.conversation-input h2 {
  margin-bottom: 22px;
  display: inline-block;
}

.container:nth-child(2) .container-content button {
  margin: 56px auto 0;
  display: inline-block;
}

.container:nth-child(3) .container-content,
.container:nth-child(5) .container-content {
  padding: 0;
}

.container:nth-child(3) .container-item img {
  margin: 36px auto;
}

.product-strong::before {
  content: "|";
  display: inline-block;
  margin-right: 4px;
}

.container:nth-child(3) .container-item button {
  margin: 30px auto 10px;
}

.container:nth-child(4) .container-content {
  background-color: #dee8e9;
}

.container:nth-child(8) .container-content {
  background-color: #f9dbbe;
}

.container-content a,
.container:nth-child(5) .container-item a {
  margin: 52px auto 0;
  display: inline-block;
  width: 240px;
}

.photo {
  display: flex;
}

.photo-toggle {
  display: flex;
  margin: 0 auto;
  width: 240px;
  justify-content: space-around;
}

footer {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f3ede8;
}

.footer-item {
  border-bottom: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.footer-item:last-child {
  border: none;
}

.footer-item h2 {
  color: #9d9d9c;
  padding: 40px 0px;
}

.footer-item a {
  color: #5a5f60;
  padding-bottom: 17px;
}

.footer-item a:last-child {
  padding-bottom: 40px;
}
