* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Newsreader", serif;
}

body {
  font-family: "Newsreader", serif;
  color: #0e0e0e;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
}

div img {
  width: 100%;
  height: auto;
}

div p {
  font-size: 24px;
}

div a,
div button {
  width: 275px;
  height: 54px;
  border: 2px solid black;
  color: black;
}

div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

div a,
div button,
.category {
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 10px;
  font-weight: 700;
}

div button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
}

.ourstudio button::after {
  content: "";
  width: 22%;
  height: 100%;
  background-image: url("./assets/arrow-right-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  display: block;
  border-left: 2px solid black;
}
